body {
    background-color: #343a40;
    font-family: 'Oswald', sans-serif;
}




.navbar {
    background-color: #606c38;
}

.title {
    font-family: 'Oswald', sans-serif;
}
.body {
   background-color: #fefae0; 

}

.jumbotron {
    margin: 0;
    background-color: #a9b7a4;
}



a.deco-none {
    /*text-decoration: none;
    
 
}